body{
    background-color: #f5d9d5;
    font-family: 'Caveat', cursive;
}
.navbar.navbar-dark {
    transition: all 0.5s ease-out;
}
.navbar.navbar-dark.scrolled{
    background-color: rgba(222,192,222,0.9);
    transition: all 0.5s ease-out;
}
.navbar.navbar-dark a.navbar-brand{
    font-family: 'Sacramento', cursive;
    font-size: 2.8rem;
    font-weight: 700;
    color: #EA1C2C;
}
.navbar.navbar-dark  a.nav-link{
    font-family: 'Poiret One', cursive;
    font-size: 1.4rem;
    font-weight: 800;
    color: #fff;
    letter-spacing: 2px;
    margin: 0 0.3rem;
    transition: color linear 0.25s;
}
.navbar.navbar-dark a.nav-link:hover{
    color: #f17781;
    transition: color linear 0.25s;
}

.main-text h2 {
    font-size: 4rem;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
}
.main-text h2 span {
    color: #EA1C2C;
    font-weight: 700;
}
.main-wrapper .section-text h3{
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
    color: #EA1C2C;
}
.main-wrapper .section-text p {
    font-size: 1.8rem;
    color: #d23d71;
}
.section-text {
    padding: 0 6rem;
}

@media (max-width: 1199px){
    .main-text h2 {
        font-size: 2.5rem;
    }
    .navbar.navbar-dark  a.navbar-brand {
        font-size: 2.4rem;
    }
    .navbar.navbar-dark  a.nav-link {
        font-size: 1.2rem;
    }
    .main-wrapper .section-text h3,  .main-wrapper .section-text p {
        font-size: 1.4rem;
    }
    .section-text {
        padding: 0 3rem;
    }
}
@media (max-width: 991px){
    .main-text h2 {
        font-size: 1.8rem;
    }
    .section-text {
        padding: 0px 2.5rem;
    }
}
@media (max-width: 767px){
    .navbar.navbar-dark {
        background-color: rgba(222,192,222,0.9);
    }
    .navbar.navbar-dark .navbar-toggler{
        border-color: transparent;
    }
}
@media (max-width: 480px){
    .navbar.navbar-dark a.navbar-brand {
        font-size: 1.6rem;
    }
    .navbar.navbar-dark a.nav-link {
        font-size: 0.9rem;
    }
}