table{
    margin:10% auto;
}

td{
    height: 100px;
    width: 100px;
}

tr td:nth-of-type(2){
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

tr:nth-of-type(2) td{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}